<div ng-controller="LoginCtrl">

  <form  ng-show = "isLogged()" name="logoutForm" class="navbar-form navbar-right" data-ng-submit="logout()">
    <input  class="btn btn-warning" type="submit" value="Logout" id='logout'>
  </form>

  <p class="navbar-text navbar-right" ng-show="isLogged()" style="padding-right:15px">Logged in as: {{username}}</p>
  <form ng-hide = "isLogged()" name="loginForm" class="navbar-form navbar-right" data-ng-submit="login(user)">
  <div class="form-group">
     <input class="form-control" type="text" ng-model="user.name" placeholder="Username" required />
  </div>
  <div class="form-group">
    <input class="form-control" type="password" ng-model="user.password" placeholder="Password" required />	
  </div>

    <input class="btn btn-success" type="submit" value="Login" id="login">
  </form>
</div>
