
<h1>Answer to a survey</h1>
<form>
	<h3>{{survey.title}}</h3>
	<div ng-repeat="question in survey.questions" ng-init="questionIndex = $index">
		<li>{{question.title}}</li>
		
		<div ng-switch on="question.kind">	
			<p ng-switch-when="Textfield">
				<input type="textarea" name="{{question.id}}" ng-model = "response[question.index].value" ng-init="question.index = response.length; initTextbox(question.id)">{{option.value}}<br>
			</p>

			<p ng-switch-default>
				<ul ng-repeat="option in question.options">
					<span ng-switch on="question.kind">

						<input type="checkbox" ng-switch-when="Checkbox" name="{{question.id}}"  ng-click="checkboxSave(question.id, option.id)">


						<input type="radio" ng-switch-when="Radiobutton"  name="{{question.id}}" ng-click="radiobuttonSave(question.id, option.id)">

					</span>
					{{option.value}}
				</ul>
			</p>

			<p ng-switch-default >
				
			</p>
		</div>
	</div>
	<br>
	<button ng-click="submit()">Submit</button>

	response atm: {{response}}

</form>