
<h1>Answer to a survey</h1>
<form>
	<h3>{{survey.title}}</h3>
	<div ng-repeat="question in survey.questions">
		<li>{{question.title}}</li>
		<div> 
			<p>
				<ul ng-if="isRadio(question.kind)" ng-repeat="option in question.options">
					<input type="radio" name="{{question.id}}" ng-click="radiobuttonSave(question.id, option.id)">{{option.value}}
				</ul>
				<ul ng-if="isCheckbox(question.kind)" ng-repeat="option in question.options">
					<input type="checkbox" name="{{question.id}}"  ng-click="checkboxSave(question.id, option.id)">{{option.value}}
				</ul>
				<ul ng-if="isTextfield(question.kind)">
					<textarea name="{{question.id}}" ng-model = "response[question.index].value" ng-init="question.index = response.length; initTextbox(question.id)"></textarea>
				</ul>
			</p>
		</div>
	</div>
	<br>
	<button ng-click="submit()">Submit</button>
	<br><br>
	<div ng-if="errorMsg()" class="alert alert-error">
		{{message}}
	</div>
</form>