
<h1>Surveys</h1>

 <form class="form-horizontal form">
    <br>
    <span style="margin:4px" class="label label-{{color($index)}}" ng-repeat="tag in tagList">{{tag.title}}
      <i style="padding-left=4px;cursor:pointer" ng-click="removeTagFromFilter($index)" class="icon-remove icon-white"></i>
    </span>
    <br>

    <input class="input" type="text" placeholder="Filter view by tags" autocomplete="tags" pluck="title" options="list" ng-model="tag" >
    <button class="btn btn-success btn-small addTag" ng-click="addTagToFilter(tag)">Add</button>
  </form>

<table class="table table-hover table-striped" ng-init="colors = {Unpublished:'warning', Published:'success', Finished:'info'}">
  <thead>
    <th>
      <span>Title</span>
      <a href="" ng-click="predicate = 'title'; reverse=false" style="font-size:18px;">↑</a>
      <a href="" ng-click="predicate = '-title'; reverse=false" style="font-size:18px;">↓</a>
      <input type="text" ng-model="search.title" class= "searchTitle input-small" placeholder="Filter by title">
    </th>
    <th>
      <span>Status</span>
      <a href="" ng-click="predicate = 'status'; reverse=false" style="font-size:18px;">↑</a>
      <a href="" ng-click="predicate = '-status'; reverse=false" style="font-size:18px;">↓</a>
    </th>
    <th>
        <label ng-if = "isLogged()" class="checkbox">
          <input type="checkbox" ng-model="onlyOwn" class="MySurveys"/> Show only my own surveys
        </label>
    </th>
    <th></th>
    <th></th>
  </thead>

  <tbody>
    <tr ng-repeat="survey in surveys | orderBy:predicate:reverse | filter:search:strict | filter: tagFilter | filter: myOwn"  ng-class="colors[survey.status]" class="survey_{{$index}}" ng-controller="LoginCtrl" survey-title="{{survey.title}}">
      <td class="title"><a ng-href="#/answer/{{survey.id}}">{{survey.title}}</a></td>

      <td class="status">{{survey.status}}</td>

      <td class="results">
        <a ng-href="#/results/{{survey.id}}" class="label label-info" ng-hide="survey.status == 'Unpublished'">
          <i class="icon-align-left icon-white" style="padding-right:2px"></i>
          Results
        </a>
      </td>

      <td class="edit">
        <a ng-href="#/surveys/{{survey.id}}" class="label label-warning" ng-show="isLogged()" >
          <i class="icon-edit icon-white"></i>
          Edit
        </a>
      </td>

      <td class="destroy">
        <a class="label label-important" ng-show="isLogged()" ng-click="destroy(survey)">
          <i class="icon-trash icon-white"></i>
          Destroy
        </a>
      </td>

    </tr>
  </tbody>
 </table>
