
<h1>Surveys</h1>
<div ng-repeat="survey in surveys">
	<h3>Survey {{$index+1}}: <a ng-href="#/answer/{{survey.id}}">{{survey.title}}</a>, Status: {{survey.status}}</h3>
	<ul>
		<div ng-repeat="question in survey.questions" ng-init="index=$index+1">
			<li>Question {{index}}: {{question.title}}</li>
			<ul>
				<div ng-repeat="option in question.options">
					<li>Option {{index}}: {{option.value}}</li>
				</div>
			</ul>
		</div>
	</ul>
</div>


<h3>New survey</h3>
<div>
	<form ng-submit="addSurvey()">
		<fieldset>
			<label>Title:</label>
			<input ng-model="survey.title" type="text" />
			<label>Status:</label>
			<select ng-model="survey.status" id="survey_status" ng-init="survey.status='Unpublished'">
				<option value="Published">Published</option>
				<option value="Unpublished">Unpublished</option>
				<option value="Finished">Finished</option>
			</select>			
		
		<div ng-repeat="question in survey.questions" style="padding-left:50px">
			<fieldset ng-hide="question.destroy==1">
				<textarea ng-model="question.title" ></textarea>
				<i ng-click="removeQuestion(question, $event, outerIndex)" class="icon-remove"/>
				<label>Kind</label>
				<select ng-model="question.kind" id="survey_question_kind_{{outerIndex}}">
					<option value="Radiobutton">Radiobutton</option>
					<option value="Checkbox">Checkbox</option>
					<option value="Textfield">Textfield</option>
				</select>

				<input type="hidden" value="{{question.id}}"/>
				<input type="hidden" value="{{question.destroy}}"><br />
				<button ng-click="newOption($event, question)">New Option</button>
			
				<div ng-repeat="option in question.options" style="padding-left:50px">
					<fieldset ng-hide="option.destroy==1">
						<label >Option</label><br />
						<textarea ng-model="option.value"></textarea>
						<i ng-click="removeOption(option, $event, innerIndex)" class="icon-remove" /><br />
						<input type="hidden" value="{{option.id}}"/>
						<input type="hidden" value="{{option.destroy}}">        
					</fieldset>
				</div>
				</fieldset>
			</div>								
		</fieldset>	
	</div>
	<div class="actions">
		<button ng-click="submit(survey)">Submit</button>
		<button ng-click="newQuestion($event)">New Question</button>
		{{survey}}
	</div>
</form>
</div>