<h3 ng-if="isNew()">New survey</h3>
<h3 ng-if="!isNew()">Editing a survey</h3>
<div>
	<form name="survey_management_form" class="survey_management_form form-search">
		<fieldset>
			<label style="font-weight:bold">Title:</label>
			<input ng-model="survey.title" type="text" />
			<label style="font-weight:bold">Status:</label>
			<select ng-model="survey.status" id="survey_status" ng-init="survey.status='Unpublished'">
				<option value="Published">Published</option>
				<option value="Unpublished">Unpublished</option>
				<option ng-if="!isNew()" value="Finished">Finished</option>
			</select><br>
      <span style="margin:4px" class="label label-{{color($index)}}" ng-repeat="tag in survey.tags" >{{tag.title}}<i style="padding-left=4px;cursor:pointer" ng-click="removeTag($index)" class="icon-remove icon-white"></i></span>
      <br>

      <input class="input" type="text" autocomplete="tags" pluck="title" options="list" ng-model="tag" ><button class="btn btn-success btn-small" ng-click="addTag(tag)">Add Tag</button>




			<div ng-repeat="question in survey.questions" style="padding-left:50px" class = "question_{{$index}}">
				<fieldset ng-hide="question._destroy">
          <label>Question</label>
					<textarea ng-model="question.title" ></textarea>
					<button ng-click="removeQuestion(question, $event, $index, survey)" class="btn btn-small btn-danger removeQuestion" style="float:right" >
						<i  class="icon-minus-sign"/>
					</button>
					<label>Kind</label>
					<select ng-model="question.kind" class="kind_selector">
						<option value="Radiobutton">Radiobutton</option>
						<option value="Checkbox">Checkbox</option>
						<option value="Textfield">Textfield</option>
					</select>
					<br>


					<div ng-repeat="option in question.options" style="padding-left:50px">
						<fieldset ng-hide="option._destroy">
							<button ng-click="removeOption(option, $event, $index, question)" class="btn btn-small btn-danger removeOption" style="float:right" >
								<i class="icon-minus-sign" />
							</button>
							<label >Option</label><br />
							<textarea ng-model="option.value"></textarea>
							<input type="hidden" value="{{option.id}}"/>
							<input type="hidden" value="{{option.destroy}}">
						</fieldset>
					</div>
					<button ng-if="question.kind=='Radiobutton' || question.kind=='Checkbox'" ng-click="newOption($event, question)" class="btn btn-small btn-success newOption" >
						<i class="icon-plus-sign"></i>
					</button>
				</fieldset>
			</div>
			<br>
			<button ng-click="newQuestion($event)" class="btn btn-small btn-success newQuestion">
				<i class="icon-plus-sign"></i>
			</button>
		</fieldset>
	</div>
	<div class="actions">
		<button ng-click="submit(survey)" class="btn submit">Submit</button> {{message}}
		<br />
		{{survey}}
	</div>
</form>
</div>
