<h3 ng-if="isNew()">New survey</h3>
<h3 ng-if="!isNew()">Editing a survey</h3>
<div>
	<form name="survey_management_form" class="survey_management_form">
		<fieldset>
			<label>Title:</label>
			<input ng-model="survey.title" type="text" />
			<label>Status:</label>
			<select ng-model="survey.status" id="survey_status" ng-init="survey.status='Unpublished'">
				<option value="Published">Published</option>
				<option value="Unpublished">Unpublished</option>
				<option ng-if="!isNew()" value="Finished">Finished</option>
			</select><br>
			<h4>tags:</h4>
			<div ng-repeat="tag in tags">
				<input type="checkbox" ng-checked="isSelected(tag)" ng-click="tagSave(tag)">{{tag.title}}</input>
			</div>
			[<span ng-repeat="tag in tags">{{tag.id}},</span>]
			[<span ng-repeat="tag in survey.tags">{{tag.id}},</span>]



			<div ng-repeat="question in survey.questions" style="padding-left:50px">
				<fieldset ng-hide="question._destroy">
          <label>Question</label>
					<textarea ng-model="question.title" ></textarea>
					<button ng-click="removeQuestion(question, $event, $index, survey)" class="btn btn-small btn-danger" style="float:right">
						<i  class="icon-minus-sign"/>
					</button>
					<label>Kind</label>
					<select ng-model="question.kind">
						<option value="Radiobutton">Radiobutton</option>
						<option value="Checkbox">Checkbox</option>
						<option value="Textfield">Textfield</option>
					</select>
					<br>


					<div ng-repeat="option in question.options" style="padding-left:50px">
						<fieldset ng-hide="option._destroy">
							<button ng-click="removeOption(option, $event, $index, question)" class="btn btn-small btn-danger" style="float:right">
								<i class="icon-minus-sign" />
							</button>
							<label >Option</label><br />
							<textarea ng-model="option.value"></textarea>
							<input type="hidden" value="{{option.id}}"/>
							<input type="hidden" value="{{option.destroy}}">
						</fieldset>
					</div>
					<button ng-click="newOption($event, question)" class="btn btn-small btn-success">
						<i class="icon-plus-sign"></i>
					</button>
				</fieldset>
			</div>
			<br>
			<button ng-click="newQuestion($event)" class="btn btn-small btn-success">
				<i class="icon-plus-sign"></i>
			</button>
		</fieldset>
	</div>
	<div class="actions">
		<button ng-click="submit(survey)" class="btn ">Submit</button> {{message}}
		<br />
		{{survey}}
	</div>
</form>
</div>
