<h1>Surveys</h1>
 <table class="table table-hover table-striped table-responsive" ng-init="colors = {Unpublished:'warning', Published:'success', Finished:'info'}">
  <thead>
    <th><a href="" ng-click="predicate = 'title'; reverse=false">Name</a>
      (<a href="" ng-click="predicate = '-title'; reverse=false">^</a>)
      <input ng-model="search.title" class= "searchTitle"></th>
      <th><a href="" ng-click="predicate = 'status'; reverse=false">Status</a>
        (<a href="" ng-click="predicate = '-status'; reverse=false">^</a>)
        <th ng-if = "isLogged()"><input type="checkbox" ng-model="onlyOwn" class="MySurveys"/> My surveys </th>
      <th></th>
      <th ng-if = "isLogged()"></th>
      <th ng-if = "isLogged()"></th>
  </thead>

<div ng-repeat="tag in tagList track by $index" style="display:inline-block">
    <button ng-click="deleteChoice($index)" ><h5>{{tag.title}}</h5></button>
</div>

  <tbody>
    <tr ng-repeat="survey in surveys | orderBy:predicate:reverse | filter:search:strict | filter: myFilter | filter: myOwn"  ng-class="colors[survey.status]" class="survey_{{$index}}" ng-controller="LoginCtrl" survey-title="{{survey.title}}">
      <td class="title"><a ng-href="#/answer/{{survey.id}}">{{survey.title}}</a></td>

      <td class="status">{{survey.status}}</td>

      <td class="results">
        <a ng-href="#/results/{{survey.id}}" class="label label-info" ng-hide="survey.status == 'Unpublished'">
          <span class="glyphicon glyphicon-align-left glyphicon-white" style="padding-right:2px"></span>
          Results
        </a>
      </td>

      <td class="edit" ng-if="isLogged()">
        <a ng-href="#/surveys/{{survey.id}}" class="label label-warning" >
          <span class="glyphicon glyphicon-edit glyphicon-white"></span>
          Edit
        </a>
      </td>

      <td class="destroy" ng-if="isLogged()">
        <a class="label label-danger"  ng-click="destroy(survey)">
          <span class="glyphicon glyphicon-trash"></span>
          Destroy
        </a>
      </td>

    </tr>
  </tbody>
 </table>
