

<h2>Choose your surveys</h2>

<div>
    <input type="checkbox" > own surveys 
    <input type="checkbox" > unpublished surveys 
    <input type="checkbox" > published surveys 
    <input type="checkbox" > finished surveys <br>
</div>
<br>
 Choose survey by tag <br>
<input ng-model="searchText">
<br>
    <div> <h5>Click on tag to show/hide related surveys</h5>
          <div>
            <div ng-repeat="tag in tags | filter:searchText | orderBy:'title' | limitTo:5"> 
               <button type="button" class="btn btn-default" ng-click="addTag(tag)" ng-init="tag.expand = false">{{tag.title}}</button>
           </div>
          </div>

    </div>
<p>------------------------------------------------------------------------------</p>

<p>Poista tagi valinnat clickaamalla tag-buttonia</p>


<p>------------------------------------------------------------------------------</p>

<h1>Tags</h1> 
<div ng-repeat="tag in tagList track by $index">
    <button ng-click="deleteChoice($index)"><h5>{{tag.title}}</h5></button>
</div>

<p>------------------------------------------------------------------------------</p>

<h1>Surveys</h1> 
<div ng-repeat="survey in surveys | filter:myFilter" ng-init="survey.expand = false" ng-controller="LoginCtrl">
    <h3>Survey {{$index+1}}: <a ng-href="#/answer/{{survey.id}}">{{survey.title}}</a>, Status: {{survey.status}} 
        <a ng-show="isLogged()" ng-href="#/surveys/{{survey.id}}"><button><i class="icon-edit"></i> edit</button></a>
        <a ng-href="#/results/{{survey.id}}"><button><i class="icon-align-left"></i> Results</button></a>
    </h3>
</div>

