

<h2>Choose your surveys</h2>

<div>
    <input type="checkbox" > own surveys 
    <input type="checkbox" > unpublished surveys 
    <input type="checkbox" > published surveys 
    <input type="checkbox" > finished surveys <br>
</div>
<br>
 Choose survey by tag <br>
<input ng-model="searchText">
<br>
    <div> <h5>Click on tag to show/hide related surveys</h5>
          <div>
            <div ng-repeat="tag in tags | filter:searchText"> 
               <button type="button" class="btn btn-default" ng-click="addTag(tag)" ng-init="tag.expand = false">{{tag.title}}</button>
           </div>
          </div>

    </div>
<p>------------------------------------------------------------------------------</p>

<p>Poista tagi valinnat clickaamalla tag-buttonia</p>


<p>------------------------------------------------------------------------------</p>

<h1>Tags</h1>
<div ng-repeat="tag in tagList">
    <button><h5>{{tag.title}}</h5></button>
</div>


<p>------------------------------------------------------------------------------</p>

<h1>Surveys</h1>
<div ng-repeat="survey in surveys" ng-init="survey.expand = false" ng-controller="LoginCtrl">
    <h3>Survey {{$index+1}}: <a ng-href="#/answer/{{survey.id}}">{{survey.title}}</a>, Status: {{survey.status}} 
        <a ng-show="isLogged()" ng-href="#/surveys/{{survey.id}}"><button><i class="icon-edit"></i> edit</button></a>
        <a ng-href="#/results/{{survey.id}}"><button><i class="icon-align-left"></i> Results</button></a>
    </h3>
</div>
<p>------------------------------------------------------------------------------</p>

                        <div ng-init="friends = [{name:'John', phone:'555-1276'},
                             {name:'Mary', phone:'800-BIG-MARY'},
                             {name:'Mike', phone:'555-4321'},
                             {name:'Adam', phone:'555-5678'},
                             {name:'Julie', phone:'555-8765'},
                             {name:'Juliette', phone:'555-5678'}]"></div>
    
    Search: <input ng-model="searchText">
    <table id="searchTextResults">
      <tr><th>Name</th><th>Phone</th></tr>
      <tr ng-repeat="friend in friends | filter:searchText">
        <td>{{friend.name}}</td>
        <td>{{friend.phone}}</td>
      </tr>
    </table>
    <hr>
    Any: <input ng-model="search.$"> <br>
    Name only <input ng-model="search.name"><br>
    Phone only <input ng-model="search.phone"><br>
    Equality <input type="checkbox" ng-model="strict"><br>
    <table id="searchObjResults">
      <tr><th>Name</th><th>Phone</th></tr>
      <tr ng-repeat="friend in friends | filter:search:strict">
        <td>{{friend.name}}</td>
        <td>{{friend.phone}}</td>
      </tr>
    </table>