<h1>Tags</h1>
<h5>Click on tag to show/hide related surveys</h5>
<div ng-repeat="tag in tags">
	<button type="button" class="btn btn-default" ng-click="tag.expand=!tag.expand" ng-init="tag.expand = false">{{tag.title}}</button>
	<div ng-hide="tag.expand">
		<div ng-repeat="survey in tag.surveys" >
			<a ng-href="#/answer/{{survey.survey_id}}">{{survey.survey_title}}</a>
		</div>
	</div>
</div>


<h2>New tag</h2>
<form>
	<label>Name:</label>
	<input ng-model="tag.title" type="text" /> <br />
	<button ng-click="submit(tag)" type="button" class="btn btn-default">Submit</button>
</form>

